<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <rule name="Laravel Routing" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
          <!-- <action type="Rewrite" url="index.php/{R:1}" /> -->
        </rule>
      </rules>
    </rewrite>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="PUT" allowed="true" />
                    <add verb="PATCH" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        <handlers>
            <remove name="php-8.3.28" />
            <add name="php-8.3.28" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\laragon\bin\php\php-8.3.28-Win32-vs16-x64\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>

  </system.webServer>
</configuration>
